h1 {
     color: red;
}

#heading2 {
    color: blue;
}

.heading {
    color: yellow;
}

.pa {
    border : 2px;
    border-color: black;
    border-style: solid;
    padding: 20px;
    text-align: center;
}